body{
  background-image: linear-gradient(0deg, #55948c 0%, #265e7d 66%);
}

.custom-font {
  font-family: 'Noto Sans', sans-serif;
}

.my-card-custom {
  background-color: rgba(173, 216, 230, 0.7);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

}

.my-animation-card:hover {
  cursor: pointer;
  transform: scale(1.1)
}

.footer {
  color: white;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
}

.footer a {
  color: white;
  text-decoration: none;
  margin-right: 10px; 
  font-size: 14px;
}

